<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informações a o Cliente</title>
</head>
<body>
    <h1>OK</h1>
    <form method="POST" action="{% url 'produto' %}">{% csrf_token %}

        <input type="text" placeholder="Codigo do Produto" name="ok"/>
        <input type="text" placeholder="Descrição do produto" name="ok2"/>
        <input type="text" placeholder="Preço do produto" name="ok3"/>
        <input type="submit" placeholder="Cadastrar produto"/>

    </form>
</body>
</html>